.main-title-header {
    font-family: Tahoma;
    font-weight: bold;
    text-align: center;
    color: antiquewhite;


}
.main-title-container {
    background-color: lightslategrey;
    height: 5%;
    width: 100%;
}