body {
    font-family: Tahoma;
}


.main-title-header {
    font-family: Tahoma;
    font-weight: bold;
    text-align: center;
    color: antiquewhite;


}
.main-title-container {
    background-color: lightslategrey;
    height: 5%;
    width: 100%;
}
.profile-image {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}
.info-table {
    padding-top: 1em;
    border: 1px solid black;
    width: 60%;
    margin:auto;
}
.info-table td {
    border: 1px solid black;
    text-align: left;
}

.profile-container {
    margin:auto;
    width: 50%;
    height: auto;
}

#politician-name {
    text-align: center;
    margin:auto;
}